{
  "*.{js,jsx,ts,tsx,vue}": [
    "yarn lint:fix:js",
    "git add ."
  ],
  "*.{md,mdx}": [
    "yarn lint:fix:md",
    "git add ."
  ],
  "*.{css,scss,vue}": [
    "yarn lint:fix:style",
    "git add ."
  ]
}
